.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-start {
  border: none;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #9eefe1 0%,
    #0cab1c 51%,
    #9eefe1 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.btn-start:hover {
  background-position: right center;
}

.btn-start[disabled] {
  background-image: linear-gradient(
    to right,
    #c8d3d1 0%,
    #595d5a 51%,
    #c8d3d1 100%
  );
  background-position: 0;
}

.btn-stop {
  border: none;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #eec2c2 0%,
    #df4826 51%,
    #eec2c2 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.btn-stop:hover {
  background-position: right center;
}

.btn-stop[disabled] {
  background-image: linear-gradient(
    to right,
    #c8d3d1 0%,
    #595d5a 51%,
    #c8d3d1 100%
  );
  background-position: 0;
}
