.form {
  height: 100%;
}
.input-wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.label {
  font-size: 16px;
  font-weight: 500;
}

.btn-promises {
  margin: 0 auto;
}
